.login-area{

float :right;
}

.votes{
	float: left;
    margin-right: 7px;
    margin-left: 7px;
    background: transparent;
    overflow: hidden;
	}
	
	.Content-List {
    overflow: hidden;
    margin-left: 3px;
    opacity: 1;
	padding: 10px 20px;
}

.postContent
{
	margin: 0;
    margin-bottom: 8px;
    padding: 20px 10px;
}